---

---

<div class="carousel_container">
  <div class="carousel_track">
    <p class="carousel">BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON - BAREEN X CPH MARATHON •</p>
  </div>
</div>
<style>
  .carousel_container {
    width: 100vw;
    overflow: hidden;
    background: #4c4c4c;
    white-space: nowrap;
  }

  .carousel_track {
    display: inline-block;
    animation: scrollMarquee 30s linear infinite;
  }

  .carousel {
    display: inline-block;
    color: #f5e16a;
    letter-spacing: 4px;
    font-style: oblique;
  }

  @keyframes scrollMarquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
