---
import Categories from './Categories.astro';
---

<style>
  .categorieswrapper {
    padding: 2rem 1rem;
    border-bottom: 1px solid #ddd;
  }
</style>

<div class="categorieswrapper">
  <Categories />
</div>
