---
import Newsletterfooter from "./Newsletterfooter.astro";
import Informationfooter from "./Informationfooter.astro";
import Iconfooter from "./Iconfooter.astro";
---

<section><Newsletterfooter /></section>
<section><Informationfooter /></section>
<section><Iconfooter /></section>

<style>
  section {
    padding: 2rem;
  }
</style>
