<div class="center">
  <img src="logofooter.png" alt="Bareen Rights Reserved" />
</div>
<div class="jura">
  <a href="https://bareen.dk/pages/handelsbetingelser">
    <p>HANDELSBETINGELSER</p>
  </a>

  <a href="https://bareen.dk/pages/privatlivspolitik">
    <p>PRIVATLIVSPOLITIK</p>
  </a>
  <a href="https://bareen.dk/pages/cookiepolitik">
    <p>PRIVATLIVSPOLITIK</p>
  </a>
</div>
<div class="center">
  <img src="footericons.png" alt="Instagram, Facebook, Dankort, Visa, Mobilepay, Applepay" />
</div>

<style>
  .jura {
    display: flex;
  }

  @media (max-width: 800px) {
    .jura {
      display: flex;
      line-break: auto;
    }
  }

  div {
    justify-content: center;
    flex-wrap: wrap;
    line-height: 0px;
  }

  a {
    text-decoration: none;
    color: #656565;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
  }

  a:hover {
    color: black;
    transition: 1s;
  }

  img {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
