<div class="heading">
  <p>GÅ ALDRIG GLIP AF NOGET</p>
  <h2>BLIV MEDLEM AF NYHEDSBREVET</h2>
</div>

<div class="container_box">
  <div>
    <div class="container">
      <input type="text" placeholder="EMAIL" name="mail" required />
    </div>
  </div>
  <div>
    <div class="container2">
      <p>SKRIV MIG OP</p>
    </div>
  </div>
</div>

<div class="rights">
  <div>
    <button></button>
  </div>
  <p>Ja, jeg ønsker at modtage henvendelser fra bareen vedrørende tilbud, nyheder og produkter indenfor deres produktsortiment via email. Dit samtykke kan til enhver tid tilbagekaldes ved at skrive til os på: info@bareen.dk</p>
  <p class="grey">BAREEN ApS behandler dine personoplysninger i overensstemmelse med vores privatlivspolitik</p>
</div>

<style>
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: lighter;
    color: black;
  }

  .grey {
    color: #adadad;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: black;
  }

  form {
    border: 3px solid #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container {
    padding: 0px;
    background-color: #ffffff;
  }

  input[type="text"] {
    width: 100%;
    padding: 12px;
    display: inline-block;
    border: 1px solid #4c4c4c;
    background-color: #4c4c4c;
    color: #ffffff;
    box-sizing: border-box;
  }

  .heading {
    text-align: center;
  }

  .container2 {
    padding: 0px;
    background-color: #ffffff;
  }

  .container2 p {
    width: 100%;
    padding: 12px;
    display: inline-block;
    border: 1px solid #4c4c4c;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
  }

  .container2 p:hover {
    color: #ffffff;
    background-color: #4c4c4c;
    transition: 0.5s;
  }

  button {
    padding: 7px 7px;
    border-radius: 0;
    position: absolute;
    border: 0px white;
  }

  @media (max-width: 800px) {
    .container_box {
      padding-left: 4dvw;
      padding-right: 4dvw;
    }
    button {
      left: 7dvw;
    }
  }

  @media (min-width: 800px) {
    .container_box {
      padding-left: 30dvw;
      padding-right: 30dvw;
    }
    button {
      left: 32dvw;
    }
  }

  @media (max-width: 800px) {
    .rights {
      padding-left: 10dvw;
      padding-right: 10dvw;
    }
  }

  @media (min-width: 800px) {
    .rights {
      padding-left: 33dvw;
      padding-right: 33dvw;
    }
  }
</style>
