---
import Headline from "./Headline.astro";
import Button from "./Button.astro";
---

<Headline />
<p>Det er præcis den energi og passion, vi i Bareen ønsker at støtte og fremme. Sammen sætter vi fokus på sundhed, styrke og bæredygtige valg - for os selv, hinanden og den verden, vi bevæger os i.</p>
<Button />
