---
import Headline from "./Headline.astro";
import Button from "./Button.astro";
---

<div class="signupboxx">
  <h2>TAG DEL I FESTEN</h2>
  <p>Det er præcis den energi og passion, vi i Bareen ønsker at støtte og fremme. Sammen sætter vi fokus på sundhed, styrke og bæredygtige valg - for os <br /> selv, hinanden og den verden, vi bevæger os i.</p>
  <a href="index.astro" class="signup_knap">SIGN UP</a>
</div>

<style>
  .signupboxx {
    background-color: #4c4c4c;
  }
  .signupboxx h2 {
    z-index: +1;
    color: #ffffff;
    padding-top: 140px;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .signupboxx p {
    z-index: +1;
    color: #ffffff;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 20px;
    margin-left: 40px;
    margin-right: 40px;
        line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .signup_knap {
    background-color: #4c4c4c;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    width: 150px;
    display: block;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
  }

  @media (max-width: 800px) {
    .signupboxx{
       padding: 0;
    }
    .signupboxx h2 {
      padding-top: 20px;
      font-size: 36px;
    }
  .signup_knap {
    margin: 40px auto;
  }
  .signupboxx p {
    line-height:30px;
    letter-spacing: 0.8px;
  }

}
</style>
